---
apiVersion: v1
kind: Secret
metadata:
    name: onepassword-connect-token
    namespace: 1password
    labels:
        security: generic
type: Opaque
stringData:
    token: {{ onepassword_vaulttoken_k3s }}
