---
apiVersion: v1
kind: Namespace
metadata:
    name: flux-system
---
apiVersion: v1
kind: Secret
metadata:
    name: sops-age
    namespace: flux-system
    labels:
        security: generic
type: Opaque
stringData:
    sops.key: '{{ flux_sops_age_key | b64encode }}'
