apiVersion: v1
kind: Secret
metadata:
    name: op-credentials
    namespace: 1password
    labels:
        security: generic
type: Opaque
stringData:
    1password-credentials.json: '{{ onepassword_credentials }}'